
@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/signalR");
<script src="~/signalr/hubs"></script>

<h2>Index</h2>

<script type="text/javascript">
    $(function () {
        var clientConnection = $.connection.battleHub;

        clientConnection.client.processMessage = function (message) {

        }

        $.connection.hub.start().done(function()
        {
            clientConnection.server.startCombat();
        })
    });
</script>

